<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>commands</key>
		<array>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>On</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XX0</string>
				<key>title</key>
				<string>Off</string>
			</dict>
		</array>
		<key>houses</key>
		<array>
			<dict>
				<key>command</key>
				<string>0000</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X000</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X00</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX00</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00X0</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0X0</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XX0</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXX0</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>command</key>
				<string>000X</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X00X</string>
				<key>title</key>
				<string>J</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X0X</string>
				<key>title</key>
				<string>K</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX0X</string>
				<key>title</key>
				<string>L</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00XX</string>
				<key>title</key>
				<string>M</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0XX</string>
				<key>title</key>
				<string>N</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>O</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXXX</string>
				<key>title</key>
				<string>P</string>
			</dict>
		</array>
		<key>properties</key>
		<dict>
			<key>0</key>
			<string>$k$k</string>
			<key>1</key>
			<string>k$k$</string>
			<key>X</key>
			<string>$kk$</string>
			<key>title</key>
			<string>Nexa</string>
		</dict>
		<key>units</key>
		<array>
			<dict>
				<key>command</key>
				<string>0000</string>
				<key>title</key>
				<string>1</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X000</string>
				<key>title</key>
				<string>2</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X00</string>
				<key>title</key>
				<string>3</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX00</string>
				<key>title</key>
				<string>4</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00X0</string>
				<key>title</key>
				<string>5</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0X0</string>
				<key>title</key>
				<string>6</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XX0</string>
				<key>title</key>
				<string>7</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXX0</string>
				<key>title</key>
				<string>8</string>
			</dict>
			<dict>
				<key>command</key>
				<string>000X</string>
				<key>title</key>
				<string>9</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X00X</string>
				<key>title</key>
				<string>10</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X0X</string>
				<key>title</key>
				<string>11</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX0X</string>
				<key>title</key>
				<string>12</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00XX</string>
				<key>title</key>
				<string>13</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0XX</string>
				<key>title</key>
				<string>14</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>15</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXXX</string>
				<key>title</key>
				<string>16</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>commands</key>
		<array>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>On</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0000</string>
				<key>title</key>
				<string>Off</string>
			</dict>
		</array>
		<key>houses</key>
		<array>
			<dict>
				<key>command</key>
				<string>0000</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X000</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X00</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX00</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00X0</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0X0</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XX0</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXX0</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>command</key>
				<string>000X</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X00X</string>
				<key>title</key>
				<string>J</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X0X</string>
				<key>title</key>
				<string>K</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX0X</string>
				<key>title</key>
				<string>L</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00XX</string>
				<key>title</key>
				<string>M</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0XX</string>
				<key>title</key>
				<string>N</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>O</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXXX</string>
				<key>title</key>
				<string>P</string>
			</dict>
		</array>
		<key>properties</key>
		<dict>
			<key>0</key>
			<string>$k$k</string>
			<key>1</key>
			<string>k$k$</string>
			<key>X</key>
			<string>$kk$</string>
			<key>title</key>
			<string>WaveMan</string>
		</dict>
		<key>units</key>
		<array>
			<dict>
				<key>command</key>
				<string>0000</string>
				<key>title</key>
				<string>1</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X000</string>
				<key>title</key>
				<string>2</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X00</string>
				<key>title</key>
				<string>3</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX00</string>
				<key>title</key>
				<string>4</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00X0</string>
				<key>title</key>
				<string>5</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0X0</string>
				<key>title</key>
				<string>6</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XX0</string>
				<key>title</key>
				<string>7</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXX0</string>
				<key>title</key>
				<string>8</string>
			</dict>
			<dict>
				<key>command</key>
				<string>000X</string>
				<key>title</key>
				<string>9</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X00X</string>
				<key>title</key>
				<string>10</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0X0X</string>
				<key>title</key>
				<string>11</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XX0X</string>
				<key>title</key>
				<string>12</string>
			</dict>
			<dict>
				<key>command</key>
				<string>00XX</string>
				<key>title</key>
				<string>13</string>
			</dict>
			<dict>
				<key>command</key>
				<string>X0XX</string>
				<key>title</key>
				<string>14</string>
			</dict>
			<dict>
				<key>command</key>
				<string>0XXX</string>
				<key>title</key>
				<string>15</string>
			</dict>
			<dict>
				<key>command</key>
				<string>XXXX</string>
				<key>title</key>
				<string>16</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
